*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #111;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    /* for bg image */

    background-image: url("../images/b-199.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    text-align: center;
}

.container h1{
    margin-bottom: 40px;
    letter-spacing: 10px;
}

.keys{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.key{
    border: 4px solid yellow;
    border-radius: 8px;

    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: rgba(255, 255, 255, 0.05);
    transition: all 0.2s ease;

    cursor: pointer;
}

.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    /* box-shadow: 0 0 70px #ffc600; */
    box-shadow:
    0 0 5px #ffc600,
    0 0 20px #ffc600,
    0 0 40px #ffc600;
    transform: scale(1.15) rotate(360deg);
}

.key:active {
  transform: scale(0.95);
}

.key kbd{
    font-size: 32px;
    font-weight: 500;
}

.sound{
    font-size: 14px;
    text-transform: uppercase;
    color: #ffc600;
    margin-top: 5px;
}

